@import "../helpers/helpers.scss";

.main_header {
   @extend %full_overlay;
   @extend %f_r_aj_center;
   height: 60px;
   position: sticky;
   z-index: 20;
   background-color: #fff;


   ul {
      @extend %f_r_a_center;
      justify-content: flex-end;

      li {
         list-style-type: none;
         padding: 0 15px;
      }
   }

}